# Latex
*.bbl
*.aux
*.gz
*.spl
*.out
*.blg
# compression files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.pyc
# folders
/.vscode/
# larger files and ABA other files
*.odb
*.fil
*.dat
*.mtx
*.msg
*.prt
*.log
*.sta
*.sat
*.sim
*.rpy
*.dat
*.stt
*.pdb
*.mdl
*.txt
# unnecessary files
*.sta
*.lck
*.com
*.tmp
*.stt
*.cid
*.abq
*.res
*.sel
*.SMABulk
*.SMAFocus
*.023
*.exe
*.par
*.pes
*.obj
*.jnl
*.rec
*.pac
*.src
*.odb_f
*.ipm
*.pmg
*.1
*.2
*.3
*.4
*.5
*.6
*.7
*.8
*.9
*.10
*.11
*.12
*.13
*.14
*.15
*.asv
*.avi
*.bak
*.tcl
*.set
*.SMASim
*.simlog
.*
*.env
*.exception
!.gitignore
*.dmp
D27_fast_.inp
*.app_cache
/References/
*.docx
/Low-velocity-impact-behavior-ECC/